:root {
  --color-white: #ffff;
  --color-red: rgb(189, 6, 6);
  --color-pink1: rgb(214, 25, 198);
  --color-pink2: rgb(221, 127, 213);
  --color-pink3: rgb(226, 99, 216);
  --color-pink4: rgb(83, 32, 79);
  --color-dark: rgb(32, 6, 6);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-pink1);
  color: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
}

.foto {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column-reverse;
  background-position-y: 50px;
  width: 150%;
  /* width: 100%; */
  height: 100%;
  max-width: 500;
  max-height: 800;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fita-rosa {
  width: 50px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header {
  background-color: var(--color-pink2);
  box-shadow: 1px 1px 4px var(--color-pink3);
  height: 3.5em; /*56px */
  justify-content: space-between;
  padding: 0 10%;
}

.nagivation_header {
  gap: 3em;
  z-index: 2;
}

.nagivation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nagivation_header a {
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
  text-align: center;
}

.nagivation_header a:hover {
  color: var(--color-pink4);
}

.active {
  background-color: var(--color-pink1);
  padding: 10px;
  border-radius: 10px;
}

.content {
  text-align: center;
  padding-top: 5em;
  height: 100vh;
  transition: 1s;
}

.btn_icon_header {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  .btn_icon_header {
    display: block;
  }
  .nagivation_header {
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--color-pink3);
    height: 100%;
    width: 25vw;
    padding: 1em; /* 16px */
    animation-duration: 1s;
    margin-left: -100vw;
  }
}

.footer {
  background-color: var(--color-pink2);
  height: 10vh;
  display: flex;
  align-items: center;
}

.lista-footer li {
  color: #ffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  top {
    margin-left: -10vw;
  }
}
